.catalog {
  display: grid;
  grid-template-columns: 200px;
  
  @each $var, $num in $screen {
    @media (min-width: #{$var}) {
      grid-template-columns: repeat(#{$num}, 200px);
    }
  }

  justify-content: center;
  gap: 48px;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
